<% if (username) { %>
  <h2>Welcome,  <%= username %> </h2>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
<% } else { %>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="submit" value="Login">
  </form>
<% } %>
