
<% if (email) { %>
  <h2>Welcome,  <%= email %> </h2>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
<% } else { %>
  <a href="/login">Click here to Log in</a>
  <br>
<% } %>
