<nav class="blue-grey">
  <div class="container">
    <div class="nav-wrapper blue-grey">
      <a href="/urls" class="brand-logo left blue-grey-text text-lighten-5"> <i class="material-icons">settings_ethernet</i><bold>Shorten-Me</bold></a>
      <ul id="nav-mobile" class="right hide-on-sm-and-down">
        <% if (locals.email) { %>
        <li><span class="white-text">Welcome,  <%= locals.email %>&nbsp;&nbsp;</span></li>
          <li>
            <form action="/logout" method ="POST">
              <input class="blue-grey lighten-4 blue-grey-text text-darken-4 btn" type="submit" value="Logout">
            </form>
          </li>
        <% } else { %>
      </li><a class="btn blue-grey lighten-4 blue-grey-text text-darken-4" href="/login" name="login" value="Login">Login</a></li>
      <li><a class="btn blue-grey lighten-4 blue-grey-text text-darken-4" href="/register" name="register" value="register">Register</a></li>
      <% } %>
    </div>
  </div>
</nav>
