
<h2> Please Login! </h2>
<a href="/register">Click here to register!</a>
<form action="/login" method="POST" style="margin:150px;" enctype="application/x-www-form-urlencoded">
  <label for="email">Email:</label>
    <br>
      <input type="hidden" name="_method" value="PUT">
      <input id="email" type="email" name="email" placeholder="email@example.com" style="width: 300px">
    <br>
  <label for="password">Password:</label>
    <br>
    <input type="hidden" name="_method" value="PUT">
    <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">

    <br>
    <input type="submit" value="Submit">
</form>
