<!DOCTYPE html>
  <html>
  <head>
    <% include ./partials/_materializeHead %>
  </head>
  <body>
    <% include ./partials/_materializeBody %>
  <nav class="blue-grey">
    <div class="container">
      <div class="nav-wrapper blue-grey">
        <a href="/urls" class="brand-logo center blue-grey-text text-lighten-5">TinyApp</a>
        <ul id="nav-mobile" class="right hide-on-md-and-down">
        <li><a class="blue-grey lighten-4 blue-grey-text text-darken-4 btn" href="/login" name="login" value="Login">Login</a></li>
      </div>
    </div>
  </nav>
<br>
<br>
<div class="container blue-grey lighten-5 col s12">
  <div class="row">
    <h3 class="teal-text text-teal-lighten-2 col s8 offset-s2"><strong>Registration</strong></h3>
      <form action="/register" method="POST">
        <div class="row">
          <div class="input-field col s8 offset-s2">
            <input id="email" type="email" name="email" class="validate" placeholder="email@example.com">
            <label for="email">Email:</label>
          </div>
        </div>
      <div class="row">
        <div class="input-field col s8 offset-s2">
        <input id="password" type="password" name="password" placeholder="Password" class="validate">
        <label for="password">Password:</label>
        </div>
      </div>
        <div class="row">
          <div class="col s9 offset-s2">
            <input class="blue-grey lighten-4 blue-grey-text text-darken-4 btn" type="submit" value="Submit">
          </div>
        </div>
      </form>
  </div>
</div>
</html>
