<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>TinyApp</title>
    </head>
    <body>
      <% include ./partials/_header %>
        <label>Short URL: </label>
          <%= shortURL %>
          <br>
        <label> Long URL: </label>
          <form method="POST" action="/urls/<%= shortURL %>" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="PUT">
            <input type="text" name="updatedLongURL" value="<%= locals.longURL %>">
              <button type="submit">Update</button>
          </form>
    </body>
  </html>
