<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>TinyApp</title>
    </head>
    <body>
  <% include ./partials/_header %>

  <label>Short URL: </label>
  <%= shortURL %>
  <br>
  <label> Long URL: </label>
  <%= longURL %>



    <p>Dead link to shorten url</p>

    </body>
  </html>
